
Temp/UnityLockfile
Library/ArtifactDB
Library/ArtifactDB
Library/ArtifactDB
Library/SourceAssetDB
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Temp/__Backupscenes/0.backup
Temp/ApiUpdater_CheckMovedFrom3f05ee1a52003b6498ad6553f0597697
Temp/ApiUpdater_CheckMovedFrom9fd380aacf4c91142ababe8efaf559d9
Temp/ApiUpdater_CheckMovedFromaa1777162f116504b9cb3becee103ef8
Temp/Assembly-CSharp.dll.hash
Temp/CompilationLog.txt
Temp/UnityTempFile-003e348dee8fd494190c85149cb3177b
Temp/UnityTempFile-1b3fc751837003044ab6d7d9384cad3a
Temp/UnityTempFile-2bc6bb0418d93104e873d541c5cb88f4
Temp/UnityTempFile-30f1ac031d9268648b0de269e34acd6f
Temp/UnityTempFile-5da854e47cad3e148834bfe5a0cceeaa
Temp/UnityTempFile-63b4bd9c2b515e144aad28526bbd3776
Temp/UnityTempFile-6dd2b6587642ac34581bd727cc36b027
Temp/UnityTempFile-7f02805c62d710f458a4bc703c8236ee
Temp/UnityTempFile-7f0a8240b2de0434fa19b9d8504b165f
Temp/UnityTempFile-a78a1e2c19706f24cb5e368f119ef66d
Temp/UnityTempFile-a903e619cf2a0c14781be3eacfaf17c9
Temp/UnityTempFile-ae1514d808e1e7c4bb36e883e46370ff
Temp/UnityTempFile-c68e33be2cca8fa42832487cb554d725
Temp/UnityTempFile-c6cdcefcd07c30f4ba7fc85db3d3b1fe
Temp/UnityTempFile-cbc672ce42b8d01419fffeb7944c567f
Temp/UnityTempFile-e493cc9dde7ea6d439f19c2834f31e30
Temp/UnityTempFile-e95836df3a9ec5f4ca3ea994d515745b
Temp/UnityTempFile-f32886cdc47b35c419e24f5108c9ec76
Temp/UnityTempFile-f36c2fef84d4805459dfd7e9dc6a89c6
Temp/UnityTempFile-f4eabc4bcb8edde4ab0a79de680f7f5f
Library/ArtifactDB
Library/Artifacts/e6/e6f6e415846ff7ca0d8f9b0a2dfa54b4
Library/BurstCache/JIT/CacheManifest.json
Library/CurrentLayout-default.dwlt
Library/EditorInstance.json
Library/expandedItems
Library/SceneVisibilityState.asset
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/05/05d65640768f88e9ef77c713d7e41dfc.json
Library/StateCache/SceneView/f4/f42f4b02ace5d8f987203c59cb747b9a.json
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Temp/workerlic
